.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 5vh;
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Container {
    height: 95vh;
    display: flex;
    opacity: 0.99;
}

.Container > * {
    flex: 1 100%;
}

.Nav-center,
.Nav-left {
    top: 5vh;
    bottom: 0;
    overflow-y: auto;
}

.Nav-left {
    flex-basis: 25%;
}

.Nav-center {
    right: 0;
}

.Nav-left {
    left: 1vh;
    box-shadow: 6px 5px 5px rgba(0, 0, 0, 0.4);
    background-color: white;
    text-align: center;
}

.Nav-center {
    z-index: -2;
    flex-basis: 50%;
    background-color: whitesmoke;
}
